{% extends "_base.html" %}
{% block head-content %}

{% endblock %}
{% block body-content %}

<!-- Header -->
<header class="w3-container w3-grey w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">De Den Zzi</h1>
  <p class="w3-xlarge">정치적 진영에 대한 사이트</p>
  <a href="{% url 'analysis:analysis' %}"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">분석 확인하기</button></a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>정치 기사에 대하여</h1>
      <h5 class="w3-padding-32">2024/12/3 계엄령 사건 이후 진보/보수 양 진영 대표 신문사의 정치면에 작성된 기사에 대한 분석</h5>

      <p class="w3-text-grey">2025 대선 후보, 언론사 등등에 대한 다양한 분석<br />
        특정 이슈 일벌 언급 추이<br />
        발언 파급력 분석<br />
        특정 인물이 언급한 인물/장소 빈도 비교
      </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-bar-chart w3-padding-64 w3-text-red" style="font-size:220px;color:red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-font w3-padding-64 w3-text-blue w3-margin-right" style="font-size:220px;color:blue"></i>
    </div>

    <div class="w3-twothird">
      <h1>정치 기사에 AI를 더하다</h1>
      <h5 class="w3-padding-32">분석을 진행한 데이터로 학습된 AI 모델을 활용한 다양한 기능</h5>

      <p class="w3-text-grey">분석 내용을 학습시킨 모델을 통해 진영 분류, 기사 재작성, 기사 생성을 지원합니다.<br />
        진영 분류 : 사용자가 입력한 기사의 정치적 성향을 알려주는 기능<br />
        기사 재작성 : 사용자가 입력한 기사를 원하는 정치 성향으로 바꿔주는 기능<br />
        기사 생성 : 사용자가 입력한 키워드나 짧은 글을 기반으로 원하는 진영의 기사를 생성하는 기능</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>

</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

{% endblock %}
